.ui-spinner {
  display: inline-block;
  border-style: solid;
  border-color: currentColor;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: ui-spin 0.8s linear infinite;
  vertical-align: middle;
}

@keyframes ui-spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}
